{{ layout("../layout") }}

<h2>Register</h2>
{{-partial("../errors") }}
<form method="post">
  <table>
    <tr>
      <td><label for="email">Email</label></td>
      <td><input type="text" name="email" id="email" placeholder="Email address" /></td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td><input type="password" name="password" id="password" placeholder="Password" /></td>
    </tr>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input type="text" name="name" id="name" placeholder="Your name" /></td>
    </tr>
    
    <tr>
      <td><label for="age">Age</label></td>
      <td><input type="text" name="age" id="age" placeholder="Age" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Register" />
      </td>
    </tr>
  </table>
</form>

<script>
$(document).ready(function() {
  $("#email").focus();
});
</script>