{{ layout("../layout") }}

{{if(!session.userId) { }}
<p>Hello. To use Fisherman's Log you need to login :</p>
{{-partial("../user/login", {viewModel:{email:""} }) }}
{{ } else { }}
{{-partial("../fish/fishLog") }}
{{ } }}

