!!! 5
html(lang='en')  
  head  
  title: "Default Title"
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="")
  meta(name="author", content="")
  link(href="public/css/bootstrap.css", rel="stylesheet")
  style.
    body {padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */}
    select.default-width {width:auto;}
    #fishlog {}
    #content {float:left;}
    #sidebar {float:right; margin-left:20px; background-color:#f4f4f4; padding:10px;}
    #todo {}
    #fishlog table {}
  link(href="public/css/bootstrap-responsive.css", rel="stylesheet")
  // if lt IE 9
    script(src="public/js/html5shiv.js")
body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Fisherman's Log (layout 2)
        div.nav-collapse.collapse
          ul.nav
            li.active
              a(href="#") Home
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
  div.container
    block content