<div id="sidebar">
  <div id="todo">
    <p><strong>Version 4</strong></p>
    <ul style="list-style:none;">
      <li><i class="icon-ok"></i> Convert to Express with ejs templates</li>
      <li><i class="icon-remove"></i> Use redis for
        <ul>
          <li><i class="icon-remove"></i> Add user registration and login</li>
          <li><i class="icon-remove"></i> Persist the fish logs per user</li>
        </ul>
      </li>
    </ul>
  </div>
</div>